div,label{
	width: 90%;
	font-weight: bold;
	margin-right: 10%;
	display: inline-block;	
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
	width: 90%;
	padding: 2%;
	border: 1% solid #ccc;
	border-radius: 4px;
}
button[type="submit"] {
	padding: 2% 5%;
	background-color: #007bff;
	color: #fff;

	border: none;
	border-radius: 6%;
	cursor: pointer;
}
button[type="submit"]:hover {
	background-color: #0056b3;
}
